{
  "openapi": "3.0.0",
  "info": {
    "title": "Sent.dm API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sent.dm/api"
    }
  ],
  "paths": {
    "/messages": {
      "post": {
        "summary": "Post a new message and publish to a message queue",
        "operationId": "postMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "siteId",
                  "name",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created the message and published to queue",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "siteId": {
                          "type": "string"
                        }
                      }
                    },
                    "publishQstash": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "The request is malformed, either missing required fields, using wrong datatypes, or being syntactically incorrect.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#bad_request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials were not provided or are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Authentication credentials were not provided or are invalid.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The client lacks proper permission.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "You do not have the necessary permissions for the resource.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#forbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "The requested resource could not be found.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#not_found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error that prevented the server from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "internal_server_error",
                    "message": "An unexpected error has occurred that prevented the server from fulfilling the request.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#internal_server_error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscribers": {
      "post": {
        "summary": "Create a subscriber and handle their subscription status",
        "operationId": "postSubscriber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string"
                  },
                  "siteId": {
                    "type": "string"
                  }
                },
                "required": [
                  "phoneNumber",
                  "siteId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber is created or already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "subscriber": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "siteId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "The request is malformed, either missing required fields, using wrong datatypes, or being syntactically incorrect.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#bad_request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials were not provided or are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Authentication credentials were not provided or are invalid.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The client lacks proper permission.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "You do not have the necessary permissions for the resource.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#forbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "The requested resource could not be found.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#not_found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error that prevented the server from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "internal_server_error",
                    "message": "An unexpected error has occurred that prevented the server from fulfilling the request.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#internal_server_error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/send": {
      "post": {
        "summary": "Queue a message for sending at a specified time",
        "operationId": "queueMessage",
        "security": [
          {
            "APIKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteId": {
                    "type": "string"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "messageId": {
                    "type": "string"
                  },
                  "senderPhoneNumber": {
                    "type": "string",
                    "nullable": true
                  },
                  "sendAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "required": [
                  "siteId",
                  "recipients",
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message payload queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "The request is malformed, either missing required fields, using wrong datatypes, or being syntactically incorrect.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#bad_request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials were not provided or are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "unauthorized",
                    "message": "Authentication credentials were not provided or are invalid.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#unauthorized"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The client lacks proper permission.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "You do not have the necessary permissions for the resource.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#forbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "The requested resource could not be found.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#not_found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error that prevented the server from fulfilling the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "doc_url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "error": {
                    "code": "internal_server_error",
                    "message": "An unexpected error has occurred that prevented the server from fulfilling the request.",
                    "doc_url": "https://sent.dev/docs/api-reference/errors#internal_server_error"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "MessagePayload": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "siteId",
          "name",
          "content"
        ]
      },
      "SubscriberPayload": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "siteId": {
            "type": "string"
          }
        },
        "required": [
          "phoneNumber",
          "siteId"
        ]
      },
      "MessageResponseSuccess": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "siteId": {
                "type": "string"
              }
            }
          },
          "publishQstash": {
            "type": "boolean"
          }
        }
      },
      "SendMessagePayload": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "messageId": {
            "type": "string"
          },
          "senderPhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "sendAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "siteId",
          "recipients",
          "messageId"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "doc_url": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - The request is malformed.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "doc_url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "The request is malformed, either missing required fields, using wrong datatypes, or being syntactically incorrect.",
                "doc_url": "https://sent.dev/docs/api-reference/errors#bad_request"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Authentication credentials were not provided or are invalid.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "doc_url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Authentication credentials were not provided or are invalid.",
                "doc_url": "https://sent.dev/docs/api-reference/errors#unauthorized"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - The client lacks proper permission.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "doc_url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "forbidden",
                "message": "You do not have the necessary permissions for the resource.",
                "doc_url": "https://sent.dev/docs/api-reference/errors#forbidden"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found - The requested resource could not be found.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "doc_url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "The requested resource could not be found.",
                "doc_url": "https://sent.dev/docs/api-reference/errors#not_found"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error - An unexpected error that prevented the server from fulfilling the request.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "doc_url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "example": {
              "error": {
                "code": "internal_server_error",
                "message": "An unexpected error has occurred that prevented the server from fulfilling the request.",
                "doc_url": "https://sent.dev/docs/api-reference/errors#internal_server_error"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "APIKeyAuth": []
    }
  ]
}